{% extends 'base.html' %}
{% block content %}
<h2>Добавление записи в таблицу {{ table }}</h2>
<form method="POST" action="{{ url_for('add_record', table=table) }}" enctype="multipart/form-data">
    {% for column in columns %}
    {% if column != 'id' and column != 'updated' %}
    <div class="form-group">

        {% if column == "url" %}
        <label>image</label>
        <input hidden type="text" class="form-control" id="{{ column }}" name="{{ column }}" value="{{ value }}">
        <input type="file" class="form-control" id="file" name="file">
        {% elif column == "tag" %}
            <label>{{ column }}</label>
            <select class="form-control" id="{{ column }}" name="{{ column }}">
                    <option>Политика</option>
                    <option>Экономика</option>
                    <option>Наука и образование</option>
                    <option>Культура и история</option>
                    <option>Спорт</option>
                    <option>Туризм</option>
                    <option>Партнёры</option>
                    <option>Проекты</option>
                </select>
        {% else %}
        <label>{{ column }}</label>
        <input type="text" class="form-control" id="{{ column }}" name="{{ column }}" value="{{ value }}">
        {% endif %}
    </div>
    {% endif %}
    {% endfor %}
    <button type="submit" class="btn btn-primary">Добавить запись</button>
</form>
{% endblock %}
