{% extends 'base.html' %}
{% block content %}
    <h2>Добавление записи в таблицу {{ table }}</h2>
    <form method="POST" action="{{ url_for('add_record', table=table) }}" enctype="multipart/form-data">
        {% for column in columns %}
            {% if column != 'id' and column != 'updated' %}
                <div class="form-group">

                    {% if column == "url" %}
                        <label>image</label>
                        <input hidden type="text" class="form-control" id="{{ column }}" name="{{ column }}"
                               value="{{ value }}">
                        <input type="file" class="form-control" id="file" name="file">
                    {% elif column == "tag" %}
                        <label>{{ column }}</label>
                        <select class="form-control" id="{{ column }}" name="{{ column }}">
                            <option selected disabled hidden>{{ value }}</option>
                            <option>Политика/السياسة</option>
                            <option>Экономика/الاقتصاد</option>
                            <option>Наука и образование/العلوم والتعليم</option>
                            <option>Культура и история/الثقافة والتاريخ</option>
                            <option>Спорт/الرياضة</option>
                            <option>Туризм/السياحة</option>
                            <option>Партнёры/الشركاء</option>
                            <option>Проекты/المشاريع</option>
                        </select>
                    {% elif column == "tag_arabian" %}
                        <input style="display: none;" type="text" class="form-control" id="{{ column }}"
                               name="{{ column }}" value="{{ value }}">
                    {% else %}
                        <label>{{ column }}</label>
                        <input type="text" class="form-control" id="{{ column }}" name="{{ column }}"
                               value="{{ value }}">
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
        <button type="submit" class="btn btn-primary">Добавить запись</button>
    </form>
{% endblock %}
