{% extends 'base.html' %}

{% block content %}
    <h2 id="editrectable">Редактирование записи в таблице {{ table }}</h2>
    <form method="POST" action="{{ url_for('edit', table=table, id=id) }}" enctype="multipart/form-data">
        {% for column, value in record.items() %}
            {% if column != 'id' and column != 'updated' %}
                <div class="form-group">
                    {% if column == "url" %}
                        <label id="picture1" for="{{ column }}">Изображение</label>
                        <input hidden type="text" class="form-control" id="{{ column }}" name="{{ column }}" value="{{ value }}">
                        <input type="file" class="form-control" id="file" name="file">
                        <label id="selectedimg">Текущее изображение</label>
                        <img class="edit-preview" src="{{ url_for('send_public_file', filename=value) }}" alt="No image">
                    {% elif column == "tag" %}
                        <label>{{ column }}</label>
                        <select class="form-control" id="{{ column }}" name="{{ column }}">
                            <option selected disabled hidden>{{ value }}/{{ record.tag_arabian }}</option>
                            <option>Политика/السياسة</option>
                            <option>Экономика/الاقتصاد</option>
                            <option>Наука и образование/العلوم والتعليم</option>
                            <option>Культура и история/الثقافة والتاريخ</option>
                            <option>Спорт/الرياضة</option>
                            <option>Туризм/السياحة</option>
                            <option>Партнёры/الشركاء</option>
                            <option>Проекты/المشاريع</option>
                        </select>
                    {% elif column == "tag_arabian" %}
                        <input style="display: none;" type="text" class="form-control" id="{{ column }}" name="{{ column }}" value="{{ value }}">
                    {% elif column == "subtitle" %}
                        <label for="{{ column }}">Subtitle</label>
                        <textarea id="subtitle" name="subtitle">{{ value }}</textarea>
                    {% elif column == "subtitle_arabian" %}
                        <label for="{{ column }}">Subtitle (Arabian)</label>
                        <textarea id="subtitle_arabian" name="subtitle_arabian">{{ value }}</textarea>
                    {% elif column == "password" %}
                        <label for="{{ column }}">{{ column }}</label>
                        <input type="text" class="form-control" placeholder="Enter new password" id="{{ column }}" name="{{ column }}" value="">
                    {% else %}
                        <label for="{{ column }}">{{ column }}</label>
                        <input type="text" class="form-control" id="{{ column }}" name="{{ column }}" value="{{ value }}">
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}

        <button id="saverec" type="submit" class="btn btn-primary">Сохранить запись</button>
    </form>

 <!-- Подключаем скрипт для TinyMCE -->
<script src="https://cdn.tiny.cloud/1/26ulglpbrebh0dg1py5qoymx9wdis2ws2d36tzs46w1i90fi/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
<script>
    tinymce.init({
        selector: 'textarea#subtitle, textarea#subtitle_arabian',
        plugins: 'image code',
        toolbar: 'undo redo | link image | code',
        images_upload_url: '/upload_image',
        automatic_uploads: true,
        file_picker_types: 'image',
        images_upload_handler: (blobInfo, progress) => new Promise((resolve, reject) => {
            var xhr = new XMLHttpRequest();
            var formData = new FormData();
            xhr.withCredentials = false;
            xhr.open('POST', '/upload_image');

            xhr.onload = function () {
                if (xhr.status !== 200) {
                    return reject('HTTP Error: ' + xhr.status);
                }
                try {
                    var json = JSON.parse(xhr.responseText);
                    if (!json || !json.location) {
                        return reject('Invalid JSON: location key is missing');
                    }
                    resolve(json.location);
                } catch (e) {
                    reject('Invalid JSON format');
                }
            };

            xhr.onerror = function () {
                reject('Image upload failed due to a network error.');
            };

            formData.append('file', blobInfo.blob(), blobInfo.filename());
            xhr.send(formData);
        })
    });
</script>

{% endblock %}
